@import "~normalize.css";

@import "valiables";
@import "mixins";

// Default styles, delete after starting work
body{
  background: $color-primary;
  color: $color-secondary;
  @include font('Arial');
}

.wrapper{
  margin: 0 auto;
  max-width: 90%;
}
// Default styles, delete after starting work
