@import "~normalize.css";

@import "valiables";
@import "mixins";
@import "fonts";

// Default styles, delete after starting work
body{
  @include font(Roboto);
  background: url("../assets/img/design/bg/bg.jpg");
  background-size: 100%;
}
.logo{
  width: 60px;
  height: auto;
  float: left;
  margin-right: 10px;
}
h1{
  @include font(RobotoBold);
}
.wrapper{
  margin: 0 auto;
  max-width: 90%;
}
.text{
  &--light{
    @include font(RobotoLight);
  }
}

.italic{
  @include font(RobotoLightItalic);
  text-decoration: underline;
}
// Default styles, delete after starting work
